force-app/main/default/flows/Update_Points_And_Duration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <description>When a module is related to a Trail --&gt; update the total points and duration of it.</description>
    <environments>Default</environments>
    <formulas>
        <name>UpdatedDuration</name>
        <dataType>Number</dataType>
        <expression>{!Related_Trail.Duration__c} + {!Related_Module.Duration__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UpdatedPoints</name>
        <dataType>Number</dataType>
        <expression>{!Related_Trail.Total_Points__c} + {!Related_Module.Total_Points__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Points And Duration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Trail Points And Duration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Related_Module</name>
        <label>Related Module</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Points_and_Duration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Module__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Related_Trail</name>
        <label>Related Trail</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Module</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Trail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Points_and_Duration</name>
        <label>Update Points and Duration</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Trail__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duration__c</field>
            <value>
                <elementReference>UpdatedDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Points__c</field>
            <value>
                <elementReference>UpdatedPoints</elementReference>
            </value>
        </inputAssignments>
        <object>Trail__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_Trail</targetReference>
        </connector>
        <object>Trail_Module__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
